:root {
    --gray-00: #ffffff;
    --gray-05: #f5f6f7;
    --gray-15: #d0d0d5;
    --teal: #4B9C87;
    --dark-green: #2E5D48;
    --green: #22503B;
    --blue-50: #198eee;
    --error: #a94442;
    --danger-color: #850000;
    --danger-background: #ffadad;
  }
  
  *,
  ::before,
  ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    padding: 50px 20px;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 18px;
    background-color: var(--dark-green);
    color: var(--gray-05);
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    text-align: center;
    margin: 20px auto;
    max-width: 350px;
  }
  
  form {
    color: var(--gray-05);
    margin: auto 25px;
    padding: 15px auto;
    border: 3px solid var(--gray-05);
    text-align: center;
    width: 90%;
    max-width: 500px;
    background-color: var(--teal);
  }
  
  fieldset {
    border: 0 none;
    height: 100%;
    padding: 25px;
    margin: 10px 20px;
  }
  
  label {
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input:focus-visible,
  button:focus-visible {
    outline: 3px solid var(--blue-50);
  }
  
  input {
    display: block;
    font-size: 2.5rem;
    width: 100%;
    height: 60px;
    padding: 6px 12px;
    margin: 10px 0;
    line-height: 1.4;
    color: white;
    background-color: var(--green);
    border: 1px solid var(--gray-05);
  }
  
  button {
    cursor: pointer;
    margin-top: 15px;
    text-decoration: none;
    background-image: linear-gradient(#18dc84, #0dcd76);
    border: 3px solid #2AAA70;
    padding: 10px 16px;
    font-size: 23px;
    width: 100%;
  }
  
  .output {
    color: white;
    background-color: var(--teal);
    border: 3px solid var(--gray-05);
    font-size: 2.5rem;
    width: 90%;
    max-width: 500px;
    min-height: 55px;
    margin-top: 25px;
    padding: 15px;
    overflow-wrap: break-word;
    text-align: center;
  }
  
  .alert {
    font-size: 2rem;
    background-color: var(--danger-background);
    border: 3px solid var(--danger-color);
    color: var(--danger-color);
  }
  
  .hidden {
    display: none;
  }
  